</body>
<footer class='footer text-center text-white'>
   <!-- Copyright -->
  <div class='text-center p-3' style='background-color: #2B2B2C;'>
   Made with 🖤 by Javier Bastardo © Copyright 2021
 </div>
  <!-- Copyright -->
</footer>
</html>
